.apoiadores{ 
    width: 100%;
    max-width: 100vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
} 
.headerApoiadores{
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    overflow: hidden; 
}
.retangleLeftA{ 
    flex-grow: 1; 
    height: 80px;
    background-color: transparent;
    position: relative;
}
.retangleLeftA::before{ 
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;  
    left: 0;
    top: 0; 
    border-radius: 0 20px 20px 0px;  
    border: 2px   solid var(--orange1);    
    -webkit-transform: translate(-10px,0)  skew(-10deg);
    -moz-transform: translate(-10px,0)  skew(-10deg);
    -o-transform:  translate(-10px,0) skew(-10deg);               

}
.retangleLeftA::after{ 
    height: 100%;
    width: 110%;
    content: "";
    position: absolute;  
    right: -15px;
    top: -10px; 
    border-radius: 0 20px 20px 0px;  
    border: 2px   solid var(--orange1);    
    -webkit-transform: translate(-10px,0)  skew(-10deg);
    -moz-transform: translate(-10px,0)  skew(-10deg);
    -o-transform:  translate(-10px,0) skew(-10deg);               

} 
.retangleRightA{

    flex-grow: 1;
    height: 80px;
    background-color: transparent;
    position: relative; 
    
}  
.retangleRightA::before{ 
    height: 80px;
    width: 100%;
    content: "";
    position: absolute;  
    left: 0;
    top: 0; 
    border-radius: 20px 0px 0px 20px;  
    border: 2px   solid var(--orange1);    
    -webkit-transform: translate(10px,0)  skew(-10deg);
    -moz-transform: translate(10px,0)  skew(-10deg);
    -o-transform:  translate(10px,0) skew(-10deg); 
}
.retangleRightA::after{

    height: 80px;
    width: 110%;
    content: "";
    position: absolute;  
    left: 15px;
    top: -10px; 
    border-radius: 20px 0px 0px 20px;  
    border: 2px   solid var(--orange1);    
    -webkit-transform: translate(10px,0)  skew(-10deg);
    -moz-transform: translate(10px,0)  skew(-10deg);
    -o-transform:  translate(10px,0) skew(-10deg);               

} 
.areaTitleA{
    
    transform: skew(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    
    
}
.areaTitleA h1{
    font-size: 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px 30px;
} 
.areaCardsApoiadores{
    
    
    display: flex;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.areaCardsApoiadores .cardApoiador{

    height: 300px;
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid white;
    border-radius: 50px;
    overflow: hidden;

}  
.cardApoiador img{ 
    width: 100%;
    object-fit: cover;
} 
.areaLogoHub5Big{

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 100dvh;

}
.areaLogoHub5Big img{
    width: 90%;
}

@media (max-width: 650px) {
    .retangleLeftA{
        display: none;

    }
    .retangleRightA{
        display: none;

    }
    .headerApoiadores{
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .areaTitleA h1 {
        font-size: 50px;
    } 
}