#home_section{

    width: 100%;
    height: 100vh;
    min-height: 800px;
    position: relative;
    height: 100dvh;
    background-color: var(--grey1);
}
.backgroundHomeRounded{

    position: absolute;
    left: 50%;
    top: 0;
    height: 75%;
    background-color: white;
    transform: translate(-50%,0);
    width: 90%;
    border-radius: 0px 0px 200px 200px;

}
.homeSectionContent{

    width: 100%;
    display: flex;
    align-items: center;
    height: 100%; 
    position: relative;  
    flex-wrap: wrap;  

}
.homeSectionContent .hubSplashBg{
    
    padding-left: 55px;
   width: 40vw; 

}
.rightContentHome{
    position: relative;
    z-index: 2;
    height: 50%;
    width: 430px; 
    text-align: right;
     

}
.areaAboutHomeText h1, .areaAboutHomeText h2{

    color: black;
    font-family: 'Impact'; 
    font-weight: 900; 
    text-shadow: 1px 1px 0px #fff, 3px 3px 0px  var(--orange1);  
}
.areaAboutHomeText h1{

    font-size: 68px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;

}
.areaAboutHomeText h2{

    font-size: 45px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;

}.areaAboutHomeText h3{

    color: var(--orange1);
    font-size: 35px;
    margin-bottom: 30px;

}
.areaAboutHomeText a{

    width: 90%;
    background-color: var(--orange1);
    height: 78px;
    margin-top: 25px;
    color: white;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 900;

    padding: 20px; 
    text-decoration: none;
}

.areaImgSenacHome{

    height: 35vw;
    width: 35vw;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70% 55% 60% 50% ; 
    position: absolute;
    right: 0%;
    bottom: 10%;

}
.areaImgSenacHome img{
    height: 120%;   
}
.bubble1{

    position: absolute;
    right: 0%;
    bottom: 2%;
    height: 250px;
    width: 250px;
    background-image: linear-gradient(90deg, var(--yellow1), var(--orange1));
    border-radius: 85% 45% 90% 56%;
    opacity: 0.5;

}
.bubble2{

    position: absolute;
    right: 1%;
    bottom: 32%;
    height: 15vw;
    width: 15vw;
    max-width: 150px;
    max-height: 150px;
    background-image: linear-gradient(90deg, var(--yellow1), var(--orange1));
    border-radius: 75% 65% 67% 76%;
    
}
.bubble3{

    position: absolute;
    right: 20%;
    bottom: 2%;
    height: 8vw;
    width: 8vw;
    max-width: 100px;
    max-height: 100px;
    background-image: linear-gradient(90deg, var(--yellow1), var(--orange1));
    
    border-radius: 85% 45% 90% 56%; 
    rotate: 60deg;

}
.areaHamburguerNavBar{
    display: none;
    width: 50px;
        height: 50px; 
    margin-left: 20%;
    flex-direction: column;  
    cursor: pointer;
}
.areaHamburguerNavBar .lineNav{

    width: 100%;
   
    height: 18%;
    background-color: white;
    border-radius: 12px;

}
.areaHamburguerNavBar .lineNav:nth-child(n+2){
margin-top: 9px;
}

.name2CardAdm{

    padding-right: 5px;

}
@media (max-width:1000px) {
    .homeSectionContent{
        flex-direction: column;
        flex-wrap: unset;
    }
    .homeSectionContent .hubSplashBg{
        margin-top: 100px;
        
    }
}
@media (max-width:700px) {
    .areaAboutHomeText h1{ 
        font-size: 45px; 
    }
    .areaAboutHomeText h2{ 
        font-size: 35px; 
    }
    .homeSectionContent .hubSplashBg{
        width: 350px;
    }
    .areaAboutHomeText button{

        font-size: 26px;
        width: 70%;

    }
    .rightContentHome {

        text-align: center;

    }
    .areaHamburguerNavBar{
        display: flex;
    }
}
@media (max-height: 850px) {

    .bubble1{
        display: none;
    }
    .backgroundHomeRounded{
        min-height: 670px;
    }
    
}