#palestras{
    display: flex;
    flex-direction: column; 
    position: relative;
    max-width: 100vw;
    overflow: hidden; 
    margin-top: 200px;
}
.headerPalestras{
    display: flex; 
    height: 150px; 
    background-color: var(--grey1);
}
.leftHeaderC{  
    height: 100%;
    width: 10%;   
    position: relative;
}
.cLefttHeader{
    
    height: 200px; 
    width: calc(100% + 10px);
    right: -1px;
    bottom: -40px;
    border-radius: 0px 0px 50px 0 ;
    background-color: var(--grey1);
    position: absolute; z-index: 2;
}
.titleHeadrPalestras{
    background-color: white;
    border-radius: 70px 70px 0 0;
    width: 800px;
    position: relative;
}
.titleHeadrPalestras h1{

    color: var(--grey1);

    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 150px;

    position: absolute;
    top: -40px;
    text-align: center;
    width: 100%;

}
.rightHeaderC{
    height: 100%;  
     
    
    background-color: var(--grey1);
    position: relative;
     
    flex-grow: 1;

}
.cRightHeader{

    height: 50%; 
    width: calc(100% + 10px);
    left: -0.7px;
    bottom: -40px;
    border-radius: 0px 0px 0px 50px;
    background-color: var(--grey1);
    position: absolute;


}
.areaCardsPalestras{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content_cardsPalestras{ 
    margin-top: 40px; 
    
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 100px 20px;
  
    display: flex;
    gap: 120px;
    flex-wrap: wrap;

}
.card_palestra{
    min-width: 250px;
    height: 288px;
    width: 272px; 
    border-radius: 50px;
    position: relative;
    
    cursor: pointer;
    /* -webkit-mask-image: url(w3logo.png);
    mask-image: url(w3logo.png);
    mask-repeat: no-repeat;     */

   
}
 

.front_card_palestra{
    height: 100%;
    width: 100%;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg); 
    margin-left: -19px; /* (tangens(20deg)*100px)/2 */
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    z-index: 2;
}

.img_card_palestra{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    height: 100%;
    width: 100%;
    object-fit: cover;  
    background-color: var(--grey1); 
}

 .back_card_palestra{

    position: absolute;
    height: 288px;
    width: 272px; 
    top: -20px;
    background-image: linear-gradient(320deg,var(--orange1),var(--yellow1));     
    left: 10px;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg); 
    border-radius: 50px;

 }
 .bubbleCardPalestra{

    height: 220px;
    width: 240px; 
    position: relative;
    left: -80px;
    bottom: -175px;
    border-radius: 70% 60% 70% 50% ; 
    background-image: linear-gradient(200deg,var(--orange1),var(--yellow1));    

 }
 .about_palestra_card{
    position: relative;
    z-index: 2;
     
    top: -110px;
    left: -90px;
    height: 80px;
    width: 320px;
    background-color: white;
    

    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg); 
    border-radius: 15px 30px 30px 15px;
    padding: 10px;
 }
.about_palestra_card h1{

    color: var(--orange1);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    width: 100%;
    text-align: end;
}
.about_palestra_card h2{
    width: 100%;
    text-align: end;
    color: var(--orange1);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}

.modalSubscribePalestra{

    height: 100vh;
    width: 100%;
    z-index: 9991;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(70, 70, 70, 0.478);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    transition: .5s;

}

.modalSubscribePalestra.active{

    opacity: 1;
    pointer-events: unset;

}

.contentModalSubscribe{

    width: 90%;
    min-height: 200px;
    background-color: white;
    max-width: 850px;
    position: relative;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
    align-items: center;
}
.headerSubscribe{
  
    pointer-events: unset;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.headerSubscribe h1{
    font-size: 34px;
    word-wrap: break-word;
    max-width: 60%;
    color: var(--orange1);
}
.headerSubscribe h2{
    font-size: 22px;
    color: var(--orange1);
}
.areaAboutPalestraSubscribe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutPalestraSubscribe{
    width: 70%;
    color: grey;
    font-size: 22px;
    max-height: 220px;
    overflow-y: scroll;
   
}

#closeButtonSubscribe{

    cursor: pointer;

}
.aboutPalestraSubscribe::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.aboutPalestraSubscribe::-webkit-scrollbar-track {
background: rgb(238, 238, 238);        /* color of the tracking area */
}

.aboutPalestraSubscribe::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.722);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid rgba(38, 38, 38, 0.127);  /* creates padding around scroll thumb */
}



.closeButtonSubscribe{
    position: absolute;
    top: -40px;
    right: -20px;
    background-color: var(--redP);
    height: 100px;
    border-radius: 30% 90% 40% 90% ; 
    width: 100px;
    font-size: 50px;
    color: white;
}
.areaButtonSubscribe{

    width: 70%;
    display: flex; 
   justify-content: space-between;
   align-items: center;
  

}
.areaButtonSubscribe button{
    background-color: var(--orange1);
    color: white;
    border-radius: 15px;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bolder;
}
.cardPalestraSubscribe{

    position: absolute;
    left: 0;
    top: -0;
    
    -webkit-transform: scale(0.8) translate(-50%, -60%) skew(10deg);
    -moz-transform: scale(0.8) translate(-50%, -60%) skew(10deg);
    -o-transform: scale(0.8) translate(-50%, -60%) skew(10deg);  
}

.cardPalestranteSubscribe{
    position: absolute;
    height: 360px;
    width: 340px; 
    right: 0;
    bottom: 0;
    transform: translate(52%,52%) scale(0.7);
    
}
.frontCardPalestranteSubscribe{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.cardPalestranteSubscribe img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.shadowCardPalestranteSubscribe{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    left: 58%;
    top: 45%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(200deg,var(--orange1),var(--yellow1));    


}

.nomePalestranteSubscribe{ 
    font-size: 20px; 
    padding-right: 10px;
} 

@media (max-width:1500px) {

    .cardPalestraSubscribe{

       
        -webkit-transform: scale(0.7) translate(-35%,-80%) skew(10deg);
        -moz-transform: scale(0.7) translate(-35%,-80%) skew(10deg);
        -o-transform: scale(0.7) translate(-35%,-80%) skew(10deg); 
    
    }
    .contentModalSubscribe{
        padding: 20px 0;
    }
    .cardPalestranteSubscribe{ 
        transform: scale(0.55) translate(87%, 95%);
    }

}
@media (max-width:850px) {

    .aboutPalestraSubscribe{
        font-size: 17px;
    }
    .closeButtonSubscribe{

        height: 80px;
        width: 80px;
        right: -5px;
        top: -10px; 
    } 
    .areaButtonSubscribe button {
        font-size: 24px;
    } 
}
@media (max-width:1050px) {

    .headerSubscribe h1{
        font-size: 32px;
        max-width: 50%;
    }
}


@media (max-width:935px) {

    .titleHeadrPalestras h1{
        top: -20px;
    font-size: 70px;
    }
    .headerPalestras{
        height: 50px;
    }
    .card_palestra {
        height: 306px; width: 270px;
    }
    .back_card_palestra{
        height: 306px;
        width: 270px;
    }
    .about_palestra_card h1{
        font-size: 18px;
    }
    .about_palestra_card h2{

        font-size: 14px;

    }
    .about_palestra_card { 
        width: 280px;
        left: -60px; 
        top: -112px;
    }
    .rightHeaderC{
        display: none;
    }
}



@media (max-width:800px) {
    
    .cardPalestraSubscribe{
        
        
        -webkit-transform: scale(0.4) translate(-100%,-100%) skew(10deg);
        -moz-transform: scale(0.4) translate(-100%,-100%) skew(10deg);
        -o-transform: scale(0.4) translate(-100%,-100%) skew(10deg); 
        
    }
    .cardPalestranteSubscribe{ 
        transform: scale(0.4) translate(100%,150%); 
    }
    .closeButtonSubscribe{

        right: 8px;

    }
}
@media (max-width:600px) {

    .cardPalestraSubscribe{
        
        
        -webkit-transform: scale(0.4) translate(-100%,-150%) skew(10deg);
        -moz-transform: scale(0.4) translate(-100%,-150%) skew(10deg);
        -o-transform: scale(0.4) translate(-100%,-150%) skew(10deg); 
        
    }
    .areaButtonSubscribe button{

        font-size: 20px;
        width: 150px;

    }
    .closeButtonSubscribe{
        right: 6%;
    }
    .headerSubscribe h1{
        font-size: 30px;
    }

}


@media (max-width:500px) {

    .card_palestra{
        transform: scale(0.7);
    }
    .content_cardsPalestras{
        gap: 0;
    }
    .cardPalestraSubscribe{ 
        -webkit-transform: scale(0.35) translate(-100%,-150%) skew(10deg);
        -moz-transform: scale(0.35) translate(-100%,-150%) skew(10deg);
        -o-transform: scale(0.35) translate(-100%,-150%) skew(10deg); 
         
    } 
    .nomePalestranteSubscribe{
        font-size: 14px;
    }

}

@media (max-height: 600px) {
    .cardPalestranteSubscribe {
        transform: scale(0.48) translate(87%, 70%);
    }
    .cardPalestraSubscribe {
        -webkit-transform: scale(0.55) translate(-61%, -58%) skew(10deg);
        -moz-transform:  scale(0.55) translate(-61%, -58%) skew(10deg);
        -o-transform:  scale(0.55) translate(-61%, -58%) skew(10deg);
    }
}


@media (max-width: 600px) and (max-height: 600px) {

    .cardPalestraSubscribe {
        -webkit-transform: scale(0.4) translate(-92%, -64%) skew(10deg);
        -moz-transform: scale(0.55) translate(-61%, -58%) skew(10deg);
        -o-transform: scale(0.55) translate(-61%, -58%) skew(10deg);
    }

    .cardPalestranteSubscribe {
         transform: scale(0.3) translate(137%, 138%); 
    }
    
}