.admsSenac{
    position: relative;
    height: 100vh;
    height: 100dvh;
    padding: 50PX;
    background-color: var(--grey1);
}
.card1Adm{

    display: flex;
    margin-top: 10%;

}
.card2Adm{
    justify-content: end;
    display: flex;

}
.areaIconCardAdm{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}
.imgIconAdm{
     
    height: 350px;
    width: 350px;  
    overflow: hidden;
    object-fit: cover; 
    border-radius: 70% 55% 70% 50% ;
    position: relative;
}
.bubbleCardAdm1{
 
    height: 370px;
    width: 390px;  
    overflow: hidden; 
    border-radius: 80% 90% 70% 80% ;
    background-color: white;
    position: absolute;
}
.bubbleCardAdm2{
    rotate: 0deg;
    height: 370px;
    width: 390px;  
    overflow: hidden; 
    border-radius: 50% 70% 50% 90%;
    border:2px solid white;
    position: absolute;

}
.imgIconAdm img{
    top: 20px;  
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.areaTextCardAdm{

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px; 
    position: relative;
    
}
.areaTextCardAdm .titleCard{
    
    font-size: 150px;
    font-family: "Impact";
    
}
.areaTextCardAdm .marcaDagua{

    font-size: 300px;
    left: -10%;
    top: -25%;
  font-weight: bold;
  color: transparent; /* Faz o texto ficar transparente */
  -webkit-text-stroke: 0.01px rgba(255, 255, 255, 0.164); /* Cria o contorno branco nas letras */
  text-shadow: none; /* Remover qualquer sombra de texto */
  position: absolute;
  font-family: "Impact";
font-weight: 600;
    
}
.bubblebgAdms{
    background-image: linear-gradient(45deg,var(--orange1),var(--yellow1));    
    
    position: absolute;
    transition: 0.5s;
    animation: bubbleAnimation 20s ease-in infinite alternate-reverse;
     
}

.alotofBubbles{
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--grey1);
    
}


.bubblebgAdms1{ 
    height: 350px;
    width: 350px;
    left: 10%;
    border-radius: 90% 80% 80% 70% ; 
    
    animation-delay: 0.2s;
}
.bubblebgAdms2{ 
    height: 350px;
    width: 350px;
    left: -10%;
    top: 20%;
    border-radius: 40% 60% 80% 60% ;
    animation-delay: 0.3s; 
}
.bubblebgAdms3{ 
    height: 350px;
    width: 400px;
    top: 28%;
    left: 10%;
    border-radius: 70% 60% 80% 70% ; 
    rotate: 30deg;
    animation-delay: 0.4s;
}
.bubblebgAdms4{ 
    height: 150px;
    width: 150px;
    right: 5%;
    bottom: 12%;
    border-radius: 90% 80% 80% 70% ; 
    animation-delay: 0.1s;
}
.bubblebgAdms5{ 
    height: 450px;
    width: 370px;
    right: 1%;
    bottom: 32%;
    border-radius: 60% 70% 60% 90% ;
    rotate: 350deg; 
    animation-delay: 0.7s;
}
.bubblebgAdms6{ 
    height: 300px;
    width: 300px;
    right: 15%;
    top: 20%;
    border-radius: 90% 80% 80% 70% ; 
    animation-delay: 5s;
}
.bubblebgAdms7{ 
    height: 400px;
    width: 400px;
    right: 15%;
    bottom: 20%;
    border-radius: 90% 80% 80% 70% ; 
    animation-delay: 3s;
}
.bubblebgAdms8{ 
    height: 120px;
    width: 150px;
    rotate: 100deg;
    left: 0%;
    top: 5%;
    opacity: 0.5;
    border-radius: 70% 85% 60% 80% ; 
    animation-delay: 2s;
}
.bubblebgAdms9{ 
    height: 170px;
    width: 180px;
    left: 16%;
    bottom: 14%;
    border-radius: 65% 100% 60% 100% ; 
    animation-delay: 0.2s;
}
.bubblebgAdms10{ 
    height: 150px;
    width: 150px;
    left: 50%;
    border-radius: 90% 80% 80% 70% ;  
    animation-delay: 0.2s;
}

.card2Adm .areaTextCardAdm{
    
    text-align: end;
}
.card2Adm .areaTextCardAdm .marcaDagua{
    right: 0;
}


@media (max-width:1200px) {

    .areaTextCardAdm .marcaDagua{
        font-size: 150px;
        top: 5%;
    }
    .areaTextCardAdm .titleCard{
        font-size: 75px;
    }
    .bubbleCardAdm2{
        width: 270px;
        height: 300px;

    }
    .bubbleCardAdm1{
        width: 260px;
        height: 290px;

    }
    .imgIconAdm{
        width: 250px;
        height: 275px;

    }
    .bubblebgAdms7,  .bubblebgAdms2, .bubblebgAdms1 {

        display: none;

    }
}
@media (max-width:700px) {

    .areaTextCardAdm .marcaDagua{
        font-size: 100px;
        top: 5%;
    }
    .areaTextCardAdm .titleCard{
        font-size: 45px;
    }
    .bubbleCardAdm2{
        width: 220px;
        height: 230px;

    }
    .bubbleCardAdm1{
        width: 210px;
        height: 220px;

    }
    .imgIconAdm{
        width: 190px;
        height: 205px;

    }
       .bubblebgAdms3{
        display: none;
    }
    .admsSenac{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bubblebgAdms5{
        height: 350px;
        width: 370px;
        bottom: 23%;
    }
    .bubblebgAdms6{
        
        top: 22%;
        right: unset;
        
    }
    .bubblebgAdms10{
        left: unset;
        right: 10%;
        top: 10%;
    }
}

@media (max-width:600px) {

    .admsSenac{ 
        padding: 10px;
    }
    .card2Adm,.card1Adm{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .areaTextCardAdm .marcaDagua {
        font-size: 60px;
        top: 10%;
        left: 15%;
    }
    .areaTextCardAdm .titleCard{
        font-size: 35px;
    }
    .bubblebgAdms5 {

        bottom: 36%;
        left: 43%;height: 200px;
        width: 200px;

    }
    .areaIconCardAdm{
        transform: scale(0.8);
    }

}